*   text    eol=lf

# Don't convert line endings in binary files
*.png   binary
*.mp4   binary


# Slim down the package for distribution
/assets/    export-ignore
/.git*      export-ignore
/*.md       export-ignore

/packages.json  export-ignore
