*   text    eol=lf

# Don't convert line endings in binary files
*.png   binary
*.webm  binary


# Slim down the package for distribution
/assets/    export-ignore
/.git*      export-ignore
/tests/     export-ignore
/LICENSE    export-ignore
/*.md       export-ignore

/packages.json  export-ignore
